PRINTFUL_API_KEY=sk_live_votre_cle_api_printful_ici

# Google Analytics 4
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Facebook Pixel
NEXT_PUBLIC_FB_PIXEL_ID=XXXXXXXXXX

# URL du site
NEXT_PUBLIC_SITE_URL=https://hashtagsaintemaxime.fr
